*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.box
{
    width:40px;
    height:40px;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    position: relative;
    margin: 0 auto;
    top: -420px;
   
    
}


body {
    background: linear-gradient(#eba009, #f505f1);

   }
  
  
  @media (max-width: 767px) {
    body {
     
      font-size: 16px;
      padding: 10px;
    }
  }
  
  
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      
      font-size: 18px;
      padding: 20px;
    }
  }
  
 
  @media (min-width: 992px) {
    body {
    
      font-size: 20px;
      padding: 30px;
    }
  }
  

.container
{
    width:700px;
    height:400px;
    background-image: linear-gradient(to left, rgb(82, 82, 247), pink);
    text-transform: uppercase;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    top:40px;
    
}

.twoPlayerBox
{
    position:relative;
    left:110px;
    top:50px;
    text-align:center;
}
.player1, .player2
{
    width:230px;
    height:300px;  
    position:relative;
    border-radius:10px;
    
   
    
}
.player1
{
   
    background-color:#7ab7ec;
}

.player2
{
   
    background-color:#ef9191; 
    top:-300px;
    left: 250px;
}

.currentBox
{
    width:140px;
    height:70px;
    background-color:orange;
    text-align:center;
    position:relative;
    left:45px;
    top:40px;
    /* text-transform: capitalize; */
    border-radius:15px;
}

.currentScoer
{
    font-size:140%;
    position:relative;
    top:8px;
}

.cText
{
    font-size:100%;
    position:relative;
    top:10px;
    letter-spacing:2px;
}
.pText
{
    position: relative;
    top:1rem;
    font-weight:bold;
    /* text-transform: capitalize; */
    letter-spacing:2px;
}
.totalScoer
{
    position:relative;
    font-size:600%;
    top:30px;
}

.buttonsBox
{
    display:inline-block;
    width:20px;
    position:relative;
    top:-500px;
    left:300px;
    /* background-color: aqua; */
   
}

.newGame, .dice, .hold
{
    position:relative;
    height:30px;
    border-radius:12px;
    border-style:none;
    cursor: pointer;
}
.newGame
{
    width:110px;
    left:-5px;
    top:-25px;
}

.dice
{
    width:90px;
   top:130px;
    left:5px;
}

.hold
{
    width:70px;
    top:60px;
    left:13px; 
}

.howToPlay
{
    /* border: 2px solid rgb(0, 255, 229); */
    position: relative;
    text-align:center;
    top:70px;
}
.howToPlay ul
{
font-size:90%;
color:rgb(223, 241, 255);
}
.howToPlay h2
{
    text-decoration: underline;
}

li
{
    list-style-type: none;
}



